<p>
  <b>Email:</b>
  <%= @invitation.email %>
</p>

<p>
  <b>Inviter:</b>
  <%= @invitation.inviter.email %>
</p>
<hr>
<h4>To Do:</h4>
<% @tasks.each do |task| -%>
	<p class='task'><%= task %></p>
<% end -%>
<div class='button'>		
	<%= link_to 'Invite More People', root_path, :class => 'button_link' %>
</div>