development: &defaults
  key: YOUR_KEY
  secret: YOUR_SECRET
  options:
    site: http://cohuman.com
    request_token_path: /api/token/request
    authorize_path: /api/authorize
    access_token_path: /api/token/access
    
test:
  <<: *defaults
  key: TEST_KEY
  secret: TEST_SECRET
  
production:
  <<: *defaults